body {
    font-family: Arial, sans-serif;
	background-color: #B0E0E6;
}

color: white;
}



table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
