body {
    font-family: Arial, sans-serif;
	background-color: #ADD8E6;
}

color: white;
}



table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
.banner {
            background-color: #87CEFA;
            color: white;
            padding: 20px;
            text-align: center;
            position: relative;
            width: 100%;
        }